#page-login .form-group,
#page-reset-password .form-group,
#page-contact .form-group,
#page-register .form-group {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #e5e5e5;
}
#page-login textarea.form-control,
#page-reset-password textarea.form-control,
#page-contact textarea.form-control,
#page-register textarea.form-control {
  height: 150px;
  margin-bottom: 10px;
}
#page-login #contact_zip01, #page-login #customer_zip01,
#page-reset-password #contact_zip01,
#page-reset-password #customer_zip01,
#page-contact #contact_zip01,
#page-contact #customer_zip01,
#page-register #contact_zip01,
#page-register #customer_zip01 {
  width: 30%;
}
#page-login #contact_zip02, #page-login #customer_zip02,
#page-reset-password #contact_zip02,
#page-reset-password #customer_zip02,
#page-contact #contact_zip02,
#page-contact #customer_zip02,
#page-register #contact_zip02,
#page-register #customer_zip02 {
  width: 35%;
}
#page-login #zip-search,
#page-reset-password #zip-search,
#page-contact #zip-search,
#page-register #zip-search {
  font-size: 0.9rem;
}
#page-login .zip-search small a,
#page-reset-password .zip-search small a,
#page-contact .zip-search small a,
#page-register .zip-search small a {
  display: block;
  margin: 5px 0 10px;
}
@media (max-width: 767px) {
  #page-login #contact_zip01, #page-login #customer_zip01,
  #page-reset-password #contact_zip01,
  #page-reset-password #customer_zip01,
  #page-contact #contact_zip01,
  #page-contact #customer_zip01,
  #page-register #contact_zip01,
  #page-register #customer_zip01 {
    width: 25%;
  }
  #page-login #contact_zip02, #page-login #customer_zip02,
  #page-reset-password #contact_zip02,
  #page-reset-password #customer_zip02,
  #page-contact #contact_zip02,
  #page-contact #customer_zip02,
  #page-register #contact_zip02,
  #page-register #customer_zip02 {
    width: 30%;
  }
  #page-login .zip-search small,
  #page-reset-password .zip-search small,
  #page-contact .zip-search small,
  #page-register .zip-search small {
    display: block;
    padding-top: 10px;
  }
}
@media (max-width: 767px) {
  #page-login .form-hdg,
  #page-reset-password .form-hdg,
  #page-contact .form-hdg,
  #page-register .form-hdg {
    margin-bottom: 1rem;
  }
}
#page-login .form-content,
#page-reset-password .form-content,
#page-contact .form-content,
#page-register .form-content {
  margin-bottom: 2rem;
}
#page-login .form-group .col-form-label + div,
#page-reset-password .form-group .col-form-label + div,
#page-contact .form-group .col-form-label + div,
#page-register .form-group .col-form-label + div {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
}
@media (max-width: 767px) {
  #page-login .form-group .col-form-label + div,
  #page-reset-password .form-group .col-form-label + div,
  #page-contact .form-group .col-form-label + div,
  #page-register .form-group .col-form-label + div {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  #page-login .form-group,
  #page-reset-password .form-group,
  #page-contact .form-group,
  #page-register .form-group {
    margin-bottom: 0;
  }
}
#page-login #reset-button,
#page-reset-password #reset-button,
#page-contact #reset-button,
#page-register #reset-button {
  font-size: 16px;
}
#page-login .register-change,
#page-reset-password .register-change,
#page-contact .register-change,
#page-register .register-change {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 767px) {
  #page-login .register-change,
  #page-reset-password .register-change,
  #page-contact .register-change,
  #page-register .register-change {
    font-size: 16px;
  }
}
#page-login .register-change label,
#page-reset-password .register-change label,
#page-contact .register-change label,
#page-register .register-change label {
  display: inline-block;
  padding: 0 25px;
}
@media (max-width: 767px) {
  #page-login .register-change label,
  #page-reset-password .register-change label,
  #page-contact .register-change label,
  #page-register .register-change label {
    padding: 0 10px;
  }
}
#page-login .register-change label input,
#page-reset-password .register-change label input,
#page-contact .register-change label input,
#page-register .register-change label input {
  margin-right: 5px;
}
#page-login[data-scene=input] #form-btn-confirm,
#page-reset-password[data-scene=input] #form-btn-confirm,
#page-contact[data-scene=input] #form-btn-confirm,
#page-register[data-scene=input] #form-btn-confirm {
  display: none;
}
#page-login[data-scene=input] .is-confirm,
#page-reset-password[data-scene=input] .is-confirm,
#page-contact[data-scene=input] .is-confirm,
#page-register[data-scene=input] .is-confirm {
  display: none;
}
#page-login[data-scene=input] .conf_txt,
#page-reset-password[data-scene=input] .conf_txt,
#page-contact[data-scene=input] .conf_txt,
#page-register[data-scene=input] .conf_txt {
  display: none;
}
#page-login[data-scene=confirm] #error-message,
#page-reset-password[data-scene=confirm] #error-message,
#page-contact[data-scene=confirm] #error-message,
#page-register[data-scene=confirm] #error-message {
  display: none;
}
#page-login[data-scene=confirm] #form-btn-input,
#page-reset-password[data-scene=confirm] #form-btn-input,
#page-contact[data-scene=confirm] #form-btn-input,
#page-register[data-scene=confirm] #form-btn-input {
  display: none;
}
#page-login[data-scene=confirm] .is-input,
#page-login[data-scene=confirm] .show-input,
#page-login[data-scene=confirm] .required,
#page-reset-password[data-scene=confirm] .is-input,
#page-reset-password[data-scene=confirm] .show-input,
#page-reset-password[data-scene=confirm] .required,
#page-contact[data-scene=confirm] .is-input,
#page-contact[data-scene=confirm] .show-input,
#page-contact[data-scene=confirm] .required,
#page-register[data-scene=confirm] .is-input,
#page-register[data-scene=confirm] .show-input,
#page-register[data-scene=confirm] .required {
  display: none;
}
#page-login #error-message,
#page-reset-password #error-message,
#page-contact #error-message,
#page-register #error-message {
  display: none;
}
#page-login #error-message.is-error,
#page-reset-password #error-message.is-error,
#page-contact #error-message.is-error,
#page-register #error-message.is-error {
  display: block;
}
#page-login .alert,
#page-reset-password .alert,
#page-contact .alert,
#page-register .alert {
  padding: 0.75em 0.75em 0.75em 2em;
}
#page-login .alert li:not(:last-of-type),
#page-reset-password .alert li:not(:last-of-type),
#page-contact .alert li:not(:last-of-type),
#page-register .alert li:not(:last-of-type) {
  margin-bottom: 0.25em;
}
@media (max-width: 767px) {
  #page-login .alert,
  #page-reset-password .alert,
  #page-contact .alert,
  #page-register .alert {
    font-size: 12px;
  }
}
#page-login .alert ul,
#page-reset-password .alert ul,
#page-contact .alert ul,
#page-register .alert ul {
  margin-bottom: 0;
  padding: 0;
}
@media (max-width: 767px) {
  #page-login .form-regalcheck,
  #page-reset-password .form-regalcheck,
  #page-contact .form-regalcheck,
  #page-register .form-regalcheck {
    font-size: 14px;
  }
}

#page-login .alert-danger {
  font-size: 14px;
}
@media (max-width: 767px) {
  #page-login .alert-danger {
    font-size: 12px;
  }
}

.is-houjin #page-register .showtype-personal {
  display: none;
}

.is-personal #page-register .showtype-houjin {
  display: none;
}
/*# sourceMappingURL=form.css.map */