body {
  color: #000;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 16px;
}
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

.color-blue {
  color: #0b3d8b;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #CCC;
  border-color: #CCC;
}

header.page-header {
  background-color: #FFF;
  padding: 35px 40px;
  border-bottom: 1px solid #EEE;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  header.page-header {
    font-size: inherit;
  }
}
header.page-header hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
@media (min-width: 768px) {
  header.page-header hr {
    margin-top: inherit;
    margin-bottom: inherit;
  }
}
header.page-header .nav-sub {
  margin-bottom: 5px;
  z-index: 99999;
}
header.page-header .nav-sub .btn-link {
  color: #0b3d8b;
  font-size: 0.9rem;
  font-weight: bold;
}
header.page-header .nav-main-sp a {
  color: #0b3d8b;
  font-weight: bold;
  text-decoration: none;
}
header.page-header .nav-main-sp a:hover {
  text-decoration: underline;
}
header.page-header .nav-main .nav-item > a {
  color: #242424;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  padding-left: 0;
}
@media (max-width: 1300px) {
  header.page-header .nav-main .nav-item > a {
    font-size: 0.8rem;
  }
}
@media (max-width: 1200px) {
  header.page-header .nav-main .nav-item > a {
    font-size: 0.7rem;
  }
}
header.page-header .nav-main .nav-item > a:hover, header.page-header .nav-main .nav-item a:active {
  color: rgba(36, 36, 36, 0.65);
}
header.page-header .nav-main .nav-item > a:after {
  font-weight: normal;
}
@media (min-width: 992px) {
  header.page-header .nav-main .nav-item > a:after {
    content: "/";
    margin: 0 1.25em 0 1em;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header.page-header .nav-main .nav-item > a:after {
    margin: 0 0.5em 0 0.5em;
  }
}
header.page-header .nav-main .nav-item ul.dropdown-menu {
  font-size: 0.9rem;
  padding: 15px;
  border: 1px solid #CCC;
  border-radius: 0;
  word-break: keep-all;
  width: 280px;
}
header.page-header .nav-main .nav-item ul.dropdown-menu li {
  margin-bottom: 10px;
}
header.page-header .nav-main .nav-item ul.dropdown-menu li:last-child {
  margin-bottom: 0px;
}
header.page-header .nav-main .nav-item ul.dropdown-menu a {
  color: inherit;
}
header.page-header .nav-main .nav-item ul.dropdown-menu a i {
  color: #0b3d8b;
}
header.page-header .nav-main .nav-item:last-child > a:after {
  content: none;
  margin-right: 0;
}

#page-title {
  padding: 60px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(common_page-title-bg-img07.png);
  margin-top: 67px;
}
@media (min-width: 768px) {
  #page-title {
    margin-top: 103px;
  }
}
#page-title h1, #page-title h2, #page-title p {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  #page-title h1, #page-title h2, #page-title p {
    font-size: 2rem;
  }
}
#page-title h1 > small, #page-title h2 > small, #page-title p > small {
  font-size: 1.2rem;
  margin-top: 5px;
  display: block;
}

#page-title.bg-img-blue {
  background-image: url(common_page-title-bg-img01.png);
}

#page-title.bg-img-yellow {
  background-image: url(common_page-title-bg-img02.png);
}

#page-title.bg-img-green {
  background-image: url(common_page-title-bg-img03.png);
}

#page-title.bg-img-orange {
  background-image: url(common_page-title-bg-img04.png);
}

#page-title.bg-img-red {
  background-image: url(common_page-title-bg-img05.png);
}

#page-title.bg-img-purple {
  background-image: url(common_page-title-bg-img06.png);
}

#page-title.bg-img-grey {
  background-image: url(common_page-title-bg-img07.png);
}

#page-title.bg-img-pink {
  background-image: url(common_page-title-bg-img08.jpg);
}

.breadcrumb {
  color: #242424;
  font-size: 0.8rem;
  padding: 15px 40px;
  background-color: #f7f7f7;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.breadcrumb.below {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 0;
  background-color: #FFF;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .breadcrumb.below {
    padding: 15px 40px;
  }
}

.bg-white {
  background-color: #FFF;
}

.bg-lightblue {
  background-color: #ebf7fd;
}

.bg-grey {
  background-color: #f9f9f9;
}

.page-content {
  padding-top: 15px;
  padding-bottom: 60px;
}
.page-content h2 {
  color: #0b3d8b;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 35px;
}
.page-content h3 {
  color: #0b3d8b;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5em;
  padding: 4px 10px 7px;
  background-color: #F0F0F0;
}
.page-content h3.ora {
  color: #FFF;
  background-color: #e1a534;
}
.page-content h4 {
  color: #0b3d8b;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.footer-contact {
  border: 4px solid #F0F0F0;
}
.footer-contact .footer-contact-title {
  font-weight: bold;
  font-size: 1.5rem;
}
.footer-contact .btn {
  font-size: 1.1rem;
}

footer.page-footer {
  padding-bottom: 30px;
}
footer.page-footer .banners {
  margin-bottom: 15px;
}
footer.page-footer .banners .banners-item {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}
footer.page-footer nav.sitemap {
  padding: 30px 0;
}
footer.page-footer nav.sitemap ul.nav-list {
  line-height: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer.page-footer nav.sitemap ul.nav-list li.nav-item {
  font-size: 0.9rem;
  font-weight: bolder;
}
footer.page-footer nav.sitemap ul.nav-list li.nav-item a {
  color: #0b3e8b;
  margin-bottom: 15px;
  display: block;
}
footer.page-footer nav.sitemap ul.nav-list li.nav-item > ul.nav-list {
  margin-left: 10px;
}
footer.page-footer nav.sitemap ul.nav-list li.nav-item > ul.nav-list li.nav-item {
  font-size: 0.8rem;
  font-weight: normal;
}
footer.page-footer nav.sitemap ul.nav-list li.nav-item > ul.nav-list li.nav-item a {
  color: #202020;
}
footer.page-footer nav.related-corporations {
  font-size: 0.9rem;
}
footer.page-footer nav.related-corporations h3 {
  color: #053585;
  font-size: 0.9rem;
  text-align: center;
  line-height: 1em;
  margin: 0;
  padding: 5px 15px;
  border: 1px solid #e5e5e5;
  display: inline-block;
}
footer.page-footer nav.related-corporations a {
  color: #202020;
  text-decoration: none;
  line-height: 1em;
  border-right: 1px solid #e5e5e5;
  padding-right: 25px;
}
footer.page-footer nav.related-corporations a:hover {
  text-decoration: underline;
  opacity: 0.7;
}
footer.page-footer nav#footer-sp-nav {
  font-size: 0.7rem;
}
footer.page-footer nav#footer-sp-nav .btn {
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  footer.page-footer nav#footer-sp-nav .btn {
    font-size: inherit;
  }
}
footer.page-footer nav#footer-sp-nav a {
  color: #202020;
}
footer.page-footer #copyright {
  color: #202020;
  font-size: 0.7rem;
}

.to-top {
  position: fixed;
  right: 34px;
  bottom: 34px;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.to-top.visible {
  opacity: 1;
}

hr.hr {
  border-top: 1px solid #333;
}

hr.hr.w-2 {
  border-top-width: 2px;
}

hr.hr.w-3 {
  border-top-width: 3px;
}

hr.hr.w-4 {
  border-top-width: 4px;
}

hr.footer-hr {
  border-top-color: #E5E5E5;
}

.btn-primary {
  color: #FFF;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: #0b3d8b;
  padding-left: 1em;
  padding-right: 1em;
}
@media (min-width: 768px) {
  .btn-primary {
    font-size: 0.9rem;
    padding-left: 2em;
    padding-right: 2em;
  }
}

.btn-blue {
  color: #FFF;
  font-size: 1.2rem;
  background-color: #0b3d8b;
  padding: 0.75rem 1rem;
}

.btn-primary.mypage_link {
  background-color: #ff6600;
  border-color: #ff6600;
}
.btn-primary.mypage_link:hover {
  background-color: #ff9900;
}

a.btn-blue:not([href]):not([tabindex]) {
  color: #FFF;
}

.btn.is-disabled {
  pointer-events: none;
  background-color: #aaa;
}

.border-lightblue {
  border: 3px solid #78c4f0;
}

.box-shadow {
  -webkit-box-shadow: 0 4px 0 0 #ebebeb;
          box-shadow: 0 4px 0 0 #ebebeb;
}

.btn-cart {
  color: #FFF;
  border-radius: 10px;
}

.btn-cartin {
  text-align: center;
  background-image: url(common_icon_cart_mini.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  padding-left: 40px;
}

.btn-outline-blue {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #FFF;
  border-radius: 10px;
  border: 3px solid #78c4f0;
  padding: 10px 20px;
  -webkit-box-shadow: 0 4px 0 0 #ebebeb;
          box-shadow: 0 4px 0 0 #ebebeb;
}
.btn-outline-blue .small {
  color: #333;
  font-size: 1rem;
  background-image: url(common_arrow.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  display: block;
}
.btn-outline-blue .middle {
  color: #1093de;
  font-size: 1.2rem;
}
.btn-outline-blue .large {
  color: #1093de;
  font-size: 1.2rem;
}

.btn-outline-blue:hover {
  color: #FFF;
  background-color: #78c4f0;
  border-color: #78c4f0;
}
.btn-outline-blue:hover .small {
  color: #fff;
}
.btn-outline-blue:hover .middle {
  color: #fff;
}
.btn-outline-blue:hover .large {
  color: #fff;
}

.button-title {
  color: #0e87cc;
  font-size: 1.1rem;
  padding: 0 0 0 5px !important;
  font-weight: bold;
}
@media (min-width: 768px) {
  .button-title {
    font-size: 1.5rem;
    padding: inherit;
  }
}

a:hover .button-title {
  color: #FFF;
}

.well {
  padding: 15px 20px;
  border: 4px solid #05b59a;
  background-color: #ebfffc;
}
.well .lead {
  color: #008b76;
  font-size: 1.4rem;
}
.well .lead strong {
  font-weight: bold;
}
.well .lead a {
  color: #ff7500;
}
.well a.btn {
  font-size: 0.8rem;
  text-decoration: none;
}

.cart_attention {
  padding: 15px 20px;
  border: 4px solid #ff0000;
  background-color: #ffefeb;
}

.cart_attention ul {
  margin: 0;
  padding: 0;
}

.cart_attention li {
  list-style: none;
  padding-left: 1em;
  text-indent: -1em;
  line-height: 1.8;
}

.col-form-label .control-label {
  color: #0b3d8b;
  font-weight: bold;
}
.col-form-label .required {
  color: #e10d35;
  font-size: 0.7rem;
  border: 1px solid #e10d35;
  margin-left: 10px;
  padding: 2px 5px;
}

.products .product-item .product-thumbnail {
  border: 1px solid #d2d2d2;
  display: block;
}
.products .product-item .product-title {
  font-size: 1rem;
}
.products .product-item .product-title a {
  color: #151515;
  text-decoration: none;
}
.products .product-item .product-title a:hover {
  opacity: 0.7;
}
.products .product-item h3.product-title {
  font-size: 1rem;
  font-weight: bold;
  background: none;
  padding: 0;
  margin: 0;
}
.products .product-item h3.product-title a {
  color: #0b3d8b;
  text-decoration: none;
}
.products .product-item h3.product-title a:hover {
  opacity: 0.7;
}
.products .product-item .product-price {
  color: #05b59a;
  font-size: 1.2rem;
  font-weight: bold;
}
.products .product-item .product-price small {
  font-size: 0.8rem;
  font-weight: normal;
  margin-left: 5px;
}

ul.list, ol.list {
  font-size: 1rem;
  line-height: 2em;
  list-style: none;
  padding-left: 15px;
}
ul.list > li.list-item, ol.list > li.list-item {
  list-style-image: url(common_arrow_s.png);
}
ul.list > li.list-item a, ol.list > li.list-item a {
  color: #1093de;
  text-decoration: none;
}
ul.list > li.list-item a:hover, ol.list > li.list-item a:hover {
  opacity: 0.7;
}

.page-item.active .page-link {
  background-color: #0b3d8b;
  border-color: #0b3d8b;
}

.page-link {
  color: #0b3d8b;
}

.card-header {
  padding: 0.75rem 0.5rem;
}

.newslist .news-item {
  font-weight: normal;
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
}
.newslist .news-item dt {
  font-weight: normal;
}
.newslist .news-item dd {
  margin: 20px;
  padding: 20px;
  display: none;
  background-color: #F6F6F6;
}
.newslist .news-item .date {
  color: #0b3d8b;
}
.newslist .news-item .title a {
  color: inherit;
}

.shopify-policy__container {
  max-width: 100% !important;
  margin: 0 auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.shopify-policy__container .shopify-policy__title {
  display: none;
}
.shopify-policy__container .page-content h2 {
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 10px;
}
.shopify-policy__container dt,
.shopify-policy__container dd {
  font-size: 1rem;
  padding: 10px 15px;
}
.shopify-policy__container dt {
  color: #FFF;
  background-color: #0b3d8b;
  border-bottom: 1px solid #FFF;
}
.shopify-policy__container dd {
  border: 1px solid #CCC;
  border-top: none;
  margin-bottom: 0;
}
.shopify-policy__container dl:last-child dt {
  border-bottom-color: #0b3d8b;
}
@media (min-width: 768px) {
  .shopify-policy__container dl:first-child dd {
    border-top: 1px solid #CCC;
  }
}
/*# sourceMappingURL=style.css.map */