/*==========================================================================

   mixin

===========================================================================*/
/*--------------------------------------------------------------------------
   TOP
---------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
   overwrite
---------------------------------------------------------------------------*/
/* comment
-----------------------------------------------------------------*/
.l-page__contents {
	width: 100%;
	max-width: 1090px;
	margin: 0 auto;
	padding: 225px 45px 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.l-page__contents {
		padding: 225px 45px 0;
	}
}

@media only screen and (max-width: 767px) {
	.l-page__contents {
		padding: 125px 20px 0;
	}
}

/*--------------------------------------------------------------------------
   common
---------------------------------------------------------------------------*/
/* comment
-----------------------------------------------------------------*/
a {
	transition: .3s;
}

a:hover {
	opacity: .8;
}

@media only screen and (max-width: 767px) {
	.table-wrap {
		overflow: auto !important;
	}
	.table-wrap > table {
		width: 690px;
	}

	.table-wrap > table.sec-history__table--estimate {
		width: 900px !important;
	}
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

@media only screen and (max-width: 767px) {
	.page-customers-account .sec-account__hdg,
	.page-customers-address .sec-account__hdg,
	.page-customers-orders .sec-account__hdg {
		margin-bottom: 40px;
		padding-bottom: 20px;
		border-bottom: 1px solid #e3e3e3;
		font-size: 16px;
	}
}

/* .perfect-scrollbar
-----------------------------------------------------------------*/
.ps__rail-x {
	display: none;
	opacity: 1 !important;
}

@media only screen and (max-width: 767px) {
	.ps__rail-x {
		display: block;
	}
}

.ps__rail-x .ps__thumb-x {
	height: 5px;
	border-radius: 2px;
	background-color: #999;
}

@media only screen and (max-width: 767px) {
	.js-tbl-scroll {
		position: relative;
		padding-bottom: 20px;
	}
	.js-tbl-scroll table {
		opacity: .4;
	}
	.js-tbl-scroll::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 10px);
		background-image: url('ico_slide.png');
		background-repeat: no-repeat;
		background-position: center 60%;
		background-size: 80px auto;
		visibility: visible;
		content: '';
		transition: .2s;
		pointer-events: none;
		opacity: 1;
	}
}

.js-tbl-scroll.is-scroll table {
	opacity: 1;
}

.js-tbl-scroll.is-scroll::after {
	visibility: hidden;
	opacity: 0;
}

/* en contents
-----------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	html:lang(en) body .js-tbl-scroll::after {
		background-image: url('ico_slide_en.png');
		background-size: 100px auto;
	}
}

/*--------------------------------------------------------------------------
   #sec-account
---------------------------------------------------------------------------*/
/* sec-account
-----------------------------------------------------------------*/
.sec-account {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

@media only screen and (max-width: 767px) {
	.sec-account {
		padding: 0 5px;
	}
}

.sec-account a {
	text-decoration: none;
	transition: .3s;
}

.sec-account a:hover {
	text-decoration: none;
}

.sec-account--wide {
	width: 100%;
	max-width: 997px;
}

.sec-account__hdg {
	margin-bottom: 45px;
	text-align: center;
	font-size: 18px;
}

.sec-account__lead {
	margin-bottom: 40px;
	text-align: center;
	font-size: 14px;
}

@media only screen and (max-width: 767px) {
	.sec-account__lead {
		margin-bottom: 20px;
		font-size: 12px;
	}
}

.sec-account__lead--caption {
	width: 90%;
	margin: 0 auto 40px;
	padding: 10px;
	border: 1px solid #323333;
}

.sec-account__recover {
	margin-top: 10px;
	text-align: right;
}

@media only screen and (max-width: 767px) {
	.sec-account__recover {
		margin: 18px 0 10px;
		text-align: center;
	}
}

.sec-account__recover span {
	margin-right: 8px;
}

.sec-account__recover span img {
	vertical-align: middle;
}

.sec-account .c-submit {
	width: 100% !important;
}

.sec-account__note {
	margin-top: 38px;
	text-align: center !important;
}

@media only screen and (max-width: 767px) {
	.sec-account__note {
		margin-top: 32px;
	}
}

.sec-account .errors {
	margin-bottom: 40px;
	text-align: center;
	color: #ed1c24;
	font-size: 14px;
}

@media only screen and (max-width: 767px) {
	.sec-account .errors {
		margin-bottom: 20px;
		font-size: 12px;
	}
}

.sec-account .errors li {
	text-align: center;
}

.sec-account .c-radio {
	margin-top: 20px;
}

.sec-account .sec-recommendation__hdg,
.sec-account .sec-product__hdg {
	margin-bottom: 20px;
	font-size: 18px;
}

@media only screen and (max-width: 767px) {
	.sec-account .sec-recommendation__hdg,
	.sec-account .sec-product__hdg {
		text-align: center;
		font-size: 14px;
	}
}

.sec-account__address-set {
	margin-bottom: 60px;
}

@media only screen and (max-width: 767px) {
	.sec-account__address-set {
		margin-bottom: 40px;
	}
}

/*--------------------------------------------------------------------------
   #sec-cart
---------------------------------------------------------------------------*/
/* sec-cart
-----------------------------------------------------------------*/
.c-submit {
	transition: .3s;
}

.c-submit:hover {
	background-color: #c7c5c2;
}

.text-right {
	text-align: right;
}

.medium-up--one-half {
	width: 50%;
}

@media only screen and (max-width: 767px) {
	.medium-up--one-half {
		width: 100%;
	}
}

.grid__item {
	float: left;
}

@media only screen and (max-width: 767px) {
	.grid__item {
		float: none;
	}
}

.cart-note__input {
	box-sizing: border-box;
	width: 100%;
	min-height: 50px;
	border: 1px solid #14284a;
}

.grid {
	overflow: hidden;
}

.sec-cart {
	margin-bottom: 120px;
}

@media only screen and (max-width: 767px) {
	.sec-cart {
		border-top: 1px solid #000;
	}
}

.sec-cart a {
	text-decoration: underline;
	transition: .3s;
}

.sec-cart a:hover {
	text-decoration: none;
}

.sec-cart__lead {
	margin-top: 105px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 17px;
}

@media only screen and (max-width: 767px) {
	.sec-cart__lead {
		margin-top: 70px;
	}
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart__row--heading {
		display: none;
	}
}

.sec-cart__btn {
	text-align: center;
}

.sec-cart__btn a {
	display: inline-block;
	padding: 15px 20px;
	border-radius: 25px;
	background-color: #f5f5f3;
	text-decoration: none;
	font-size: 17px;
	line-height: 1;
}

@media only screen and (max-width: 767px) {
	.sec-cart__btn a {
		padding: 15px 45px;
		border-radius: 25px;
		font-size: 14px;
		line-height: 1;
	}
}

.sec-cart__btn a:hover {
	background-color: #c7c5c2;
	color: #fff;
}

@media only screen and (max-width: 767px) {
	.sec-cart .sec-cart .cart td {
		padding: 20px 12px;
	}
}

.sec-cart .QuantitySelector {
	display: -ms-inline-flexbox;
	display: inline-flex;
	border: 1px solid #e0e0e0;
	white-space: nowrap;

	-ms-flex-align: center;
	align-items: center;
}

.sec-cart .QuantitySelector__Button {
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.sec-cart .QuantitySelector__CurrentQua {
	display: inline-block;
	padding: 0;
	border: none;
	background: transparent;
	text-align: center;
	letter-spacing: normal;
}

.sec-cart .form-quantity {
	text-align: center;
}

@media only screen and (max-width: 767px) {
	.sec-cart .form-quantity {
		width: 140px;
		margin-top: 10px;
		text-align: left;
	}
}

.sec-cart .QuantitySelector--large .QuantitySelector__CurrentQuantity {
	display: inline-block;
	width: 35px;
	padding: 0;
	border: none;
	background: transparent;
	text-align: center;
	font-size: 14px;
	letter-spacing: normal;
}

.sec-cart .QuantitySelector--large .QuantitySelector__Button {
	padding: 10px 20px;
}

.sec-cart .QuantitySelector--large .QuantitySelector__Button:hover {
	opacity: .6;
}

.sec-cart .QuantitySelector--large svg {
	width: 11px;
	height: 11px;
}

.sec-cart .cart__remove {
	margin-top: 10px;
	text-align: center;
	font-size: 10px;
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart__remove {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.sec-cart .cart__remove a {
	text-decoration: underline;
}

.sec-cart .cart__remove a:hover {
	text-decoration: none;
	opacity: 1;
}

.sec-cart .cart {
	color: var(--color-body-text);
}

.sec-cart .cart th,
.sec-cart .cart td {
	border: 0;
}

.sec-cart .cart td {
	padding-top: 22px;
	padding-bottom: 22px;
}

@media only screen and (min-width: 750px) {
	.sec-cart .cart td {
		padding-right: 22px;
		padding-left: 22px;
	}
}

.sec-cart .cart th {
	padding: 27.5px 22px;
	font-family: var(--font-stack-body);
	font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
	font-weight: var(--font-weight-body);
	text-transform: uppercase;
}

@media only screen and (max-width: 749px) {
	.sec-cart .cart td:nth-child(3),
	.sec-cart .cart th:nth-child(2) {
		padding-right: 0;
		padding-left: 0;
	}
}

.sec-cart .cart td:first-child,
.sec-cart .cart th:first-child {
	width: 68%;
	padding-left: 0;
	text-align: left;
}

.sec-cart .cart td:first-child.cart__removed-product,
.sec-cart .cart th:first-child.cart__removed-product {
	padding: 1rem 0 1.2rem .5rem;
}

.sec-cart .cart td:last-child,
.sec-cart .cart th:last-child {
	padding-right: 0;
}

.sec-cart .cart dd {
	margin-left: 0;
}

.sec-cart .cart__meta {
	width: 100% !important;
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart__meta {
		padding-bottom: 5px !important;
	}
}

@media only screen and (min-width: 768px) {
	.sec-cart .cart__meta {
		width: 40% !important;
	}
}

@media only screen and (min-width: 990px) {
	.sec-cart .cart__meta {
		width: 45% !important;
	}
}

.sec-cart .cart__product-information {
	display: -ms-flexbox;
	display: flex;
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart__product-information {
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

.sec-cart .cart__image-wrapper {
	overflow: hidden;
	position: relative;
	width: 200px;
	height: 142px;
	margin-right: 3rem !important;

	-ms-flex: none !important;
	    flex: none !important;
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart__image-wrapper {
		box-sizing: border-box;
		width: 140px;
		height: 92px;
		margin-right: 0 !important;
	}
}

.sec-cart .cart__image-wrapper img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	object-fit: cover;
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart__detail-wrapper {
		width: calc(100% - 160px);
	}
}

@media only screen and (max-width: 767px) {
	.sec-cart .list-view-item__title,
	.sec-cart .product-details__item {
		margin-bottom: 7px;
	}
}

.sec-cart .cart__qty {
	margin-top: calc((15 / (var(--font-size-base))) * 1em);
}

@media only screen and (min-width: 750px) {
	.sec-cart .cart__qty {
		margin-top: 0;
	}
}

.sec-cart .cart__qty-label {
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart__qty-label {
		display: none !important;
	}
}

.sec-cart .cart__qty-input {
	width: 60px;
	padding-right: calc((5 / (var(--font-size-base))) * 1em);
	padding-left: calc((5 / (var(--font-size-base))) * 1em);
	text-align: center;
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart__qty-input {
		width: 36px;
	}
}

.sec-cart .cart__qty-error-message-wrapper,
.sec-cart .cart__error-message-wrapper {
	line-height: 1.2;
}

.sec-cart .cart__qty-error-message-wrapper .icon-error,
.sec-cart .cart__error-message-wrapper .icon-error {
	margin-top: 0;
}

.sec-cart .cart__qty-error-message-wrapper--desktop {
	display: none;
}

@media only screen and (min-width: 750px) {
	.sec-cart .cart__qty-error-message-wrapper--desktop {
		display: block;
	}
}

.sec-cart .cart__qty-error-message-wrapper--mobile {
	display: block;
}

@media only screen and (min-width: 750px) {
	.sec-cart .cart__qty-error-message-wrapper--mobile {
		display: none;
	}
}

.sec-cart .cart__qty-error-message,
.sec-cart .cart__error-message {
	vertical-align: middle;
	color: var(--color-body-text);
	font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
}

.sec-cart .cart__error-message-wrapper {
	margin-top: 1rem;
}

@media only screen and (min-width: 750px) {
	.sec-cart .cart__error-message-wrapper {
		margin-top: .8rem;
	}
}

@media only screen and (max-width: 767px) {
	.sec-cart tr.cart__row {
		display: block;
		padding-bottom: 22px;
	}
}

.sec-cart .cart__row p {
	margin-bottom: 0;
}

.sec-cart .cart__row p + p {
	margin-top: 10px;
}

.sec-cart .cart__row td {
	vertical-align: middle;
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart__row td {
		display: block;
		vertical-align: top;
	}
}

.sec-cart .cart__row--heading {
	border-top: 0;
	border-bottom: 1px solid #000;
	color: #000;
	letter-spacing: .3px;
}

.sec-cart .cart__removed-product-details {
	font-weight: var(--font-weight-body--bold);
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart-subtotal {
		display: -ms-flexbox;
		display: flex;
		padding: 0 20px;

		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

.sec-cart .cart-subtotal__title {
	font-size: 16px;
}

.sec-cart .cart-subtotal__price {
	padding-left: 27.5px;
	font-size: 18px;
}

@media only screen and (min-width: 750px) {
	.sec-cart .cart-subtotal__price {
		display: inline-block;
		min-width: 150px;
		padding-left: 55px;
		font-size: 16px;
	}
}

.sec-cart .cart__footer {
	padding-top: 45px;
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart__footer {
		padding-top: 25px;
	}
}

.sec-cart .cart__buttons-container {
	display: -ms-flexbox;
	display: flex;
	max-width: 20rem;
	margin: 0 auto;
	    flex-direction: column;

	-ms-flex-direction: column;
}

@media only screen and (min-width: 750px) {
	.sec-cart .cart__buttons-container {
		display: block;
		max-width: none;
	}
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart__buttons-container {
		max-width: 20rem;
	}
}

.sec-cart .cart__submit-controls {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	     flex-direction: column;

	-moz-flex-direction: column;
	 -ms-flex-direction: column;
}

@media only screen and (min-width: 750px) {
	.sec-cart .cart__submit-controls {
		     flex-direction: row;

		-moz-flex-direction: row;
		 -ms-flex-direction: row;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-align: start;
		-moz-align-items: flex-start;
		 -ms-align-items: flex-start;
		  -o-align-items: flex-start;
		     align-items: flex-start;
		-ms-justify-content: flex-end;
		-ms-flex-pack: end;
		    justify-content: flex-end;
	}
}

.sec-cart .cart__submit {
	width: 100%;
	height: 50px;
	margin-bottom: 0;
}

.sec-cart .cart__submit--gray {
	margin-top: 10px;
	padding: 0;
}

.sec-cart .c-submit.cart__submit--gray {
	background-color: inherit;
}

.sec-cart .cart__submit--gray a {
	display: block;
	padding: 11px;
	border-radius: 6px;
	background-color: #f5f5f5;
	text-align: center;
	text-decoration: none;
	color: #000;
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart__submit--gray a {
		padding: 13px;
	}
}

.sec-cart .cart__submit--gray a:hover {
	background-color: #c7c5c2;
	color: #fff;
}

.sec-cart .cart__submit + .cart__submit {
	margin-top: 10px;
	margin-left: 0;
}

@media only screen and (min-width: 750px) {
	.sec-cart .cart__submit {
		width: auto;
		width: 290px;
		min-height: auto;
	}
	.sec-cart .cart__submit + .cart__submit {
		margin-top: 10px;
		margin-left: 10px;
	}
}

.sec-cart .cart__shipping {
	padding: 20px 0;
	font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart__shipping {
		padding-left: 20px;
		text-align: left;
	}
}

.sec-cart .cart__shipping p {
	text-align: right;
	line-height: 1.4;
}

.sec-cart .cart__shipping p + p {
	margin-top: 10px;
}

.sec-cart .cart-note,
.sec-cart .cart__footer--price {
	width: 50%;
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart-note,
	.sec-cart .cart__footer--price {
		width: 100%;
	}
}

.sec-cart .cart-note__label,
.sec-cart .cart-note__input {
	display: block;
}

@media only screen and (max-width: 749px) {
	.sec-cart .cart-note__input {
		margin: 0 auto;
	}
}

.sec-cart .cart-note__label {
	margin-bottom: 15px;
}

@media only screen and (max-width: 749px) {
	.sec-cart .cart-note__label {
		display: none;
	}
}

.sec-cart .cart-note__input {
	width: 100%;
	min-height: 50px;
	padding: 20px;
}

.sec-cart .cart-note__input::-webkit-input-placeholder {
	opacity: 0;
}

.sec-cart .cart-note__input:-ms-input-placeholder {
	opacity: 0;
}

.sec-cart .cart-note__input::placeholder {
	opacity: 0;
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart-note__input {
		margin-bottom: 40px;
	}
	.sec-cart .cart-note__input::-webkit-input-placeholder {
		color: #000;
		opacity: 1;
	}
	.sec-cart .cart-note__input:-ms-input-placeholder {
		color: #000;
		opacity: 1;
	}
	.sec-cart .cart-note__input::placeholder {
		color: #000;
		opacity: 1;
	}
}

.sec-cart .cart__product-title a {
	text-decoration: underline;
	color: var(--color-body-text);
}

.sec-cart .cart__product-title:not([disabled]) a:hover,
.sec-cart .cart__product-title a:focus {
	text-decoration: none;
	color: var(--color-body-text);
}

.sec-cart .cart__image {
	display: block;
	margin: 0 auto;
}

.sec-cart .cart__price {
	width: 50%;
	padding-right: 0;
	text-align: right;
	font-size: calc(((var(--font-size-base) - 1) / (var(--font-size-base))) * 1em);
}

.sec-cart .cart__price dl {
	margin: 0;
}

@media only screen and (min-width: 750px) {
	.sec-cart .cart__price {
		width: 25%;
	}
}

.sec-cart .cart__quantity-td {
	width: 20%;
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart__quantity-td {
		position: relative;
		width: 100%;
		padding: 0 !important;
		text-align: left !important;
	}
}

.sec-cart .cart__final-price {
	width: 15%;
}

@media only screen and (max-width: 767px) {
	.sec-cart .cart__final-price {
		display: none !important;
	}
}

@media only screen and (max-width: 749px) {
	.sec-cart .cart-message {
		padding-top: 20px;
	}
	.sec-cart .cart__qty-label {
		display: inline-block;
		overflow: auto;
		position: inherit !important;
		width: auto;
		height: auto;
		margin: 0;
		margin-right: 5px;
		vertical-align: middle;
		font-size: calc(((13) / (var(--font-size-base))) * 1em);
		clip: auto;
	}
}

.sec-cart .cart--no-cookies .cart__continue-btn {
	display: none;
}

.sec-cart .cart--no-cookies .cart--empty-message {
	display: none;
}

.sec-cart .cart__row:last-child {
	border-bottom: 1px solid #000;
}

/*--------------------------------------------------------------------------
   sec-address
---------------------------------------------------------------------------*/
/* comment
-----------------------------------------------------------------*/
.sec-address {
	width: 100%;
	margin-bottom: 65px;
}

@media only screen and (max-width: 767px) {
	.sec-address {
		margin-bottom: 40px;
	}
}

.sec-address__hdg {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
}

@media only screen and (max-width: 767px) {
	.sec-address__hdg {
		margin-bottom: 12px;
		padding-bottom: 12px;
		font-size: 1.8rem !important;
	}
}

.sec-address__status {
	margin-bottom: 15px;
}

.sec-address__lead {
	margin-bottom: 18px;
	font-size: 14px;
}

@media only screen and (max-width: 767px) {
	.sec-address__lead {
		font-size: 12px;
	}
}

.sec-address__name {
	margin-bottom: 18px;
	font-size: 14px;
}

@media only screen and (max-width: 767px) {
	.sec-address__name {
		font-size: 12px;
	}
}

@media only screen and (max-width: 767px) {
	.sec-address__inline {
		padding: 20px 15px;
		border: 1px solid #14284a;
	}
}

.sec-address__btn {
	width: 100%;
	margin-top: 28px;

	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media only screen and (max-width: 767px) {
	.sec-address__btn {
		display: block;
	}
}

.sec-address__btn .btn-confirm a {
	display: inline-block;
	padding: 11px 14px;
	border: 1px solid #000;
	font-size: 14px;
	line-height: 1;
}

@media only screen and (max-width: 767px) {
	.sec-address__btn .btn-confirm a {
		font-size: 12px;
	}
}

.sec-address__btn .btn-confirm a:hover {
	background-color: #000 !important;
	color: #fff !important;
}

@media only screen and (max-width: 767px) {
	.sec-address__btn .btn-confirm {
		text-align: center;
	}
}

.sec-address__btn .btn-logout span {
	margin-right: 10px;
}

.sec-address__btn .btn-logout img {
	vertical-align: middle;
}

@media only screen and (max-width: 767px) {
	.sec-address__btn .btn-logout {
		text-align: center;
	}
}

@media only screen and (max-width: 767px) {
	.sec-address__btn .btn-logout a {
		display: inline-block;
		margin-top: 50px;
		padding: 15px 25px;
		border-radius: 25px;
		background-color: #f5f5f3;
		line-height: 1;
	}
}

@media only screen and (max-width: 767px) {
	.sec-address__none {
		text-align: center;
	}
}

/*--------------------------------------------------------------------------
   sec-history
---------------------------------------------------------------------------*/
/* comment
-----------------------------------------------------------------*/
.sec-history {
	width: 100%;
	margin-bottom: 65px;
}

@media only screen and (max-width: 767px) {
	.sec-history {
		margin-bottom: 65px;
	}
}

.sec-history__hdg {
	font-size: 14px;
}

@media only screen and (max-width: 767px) {
	.sec-history__hdg {
		margin-bottom: 12px;
		text-align: center;
		font-size: 12px;
	}
}

@media only screen and (max-width: 767px) {
	.page-customers-orders .sec-history__hdg {
		text-align: left;
	}
}

.sec-history__date {
	margin: 10px 0;
}

@media only screen and (max-width: 767px) {
	.sec-history__date {
		margin: 5px 0;
	}
}

.sec-history__table {
	width: 100%;
	margin-top: 20px;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
}

.sec-history__table .table-hdg {
	padding: 24px 10px;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	text-align: center;
	font-size: 14px;
}
@media only screen and (max-width: 767px) {
	.sec-history__table .table-hdg {
		font-size: 12px;
	}
}


.sec-history__table .table-item {
	padding: 15px 10px;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	text-align: center;
	font-size: 14px;
}
@media only screen and (max-width: 767px) {
	.sec-history__table .table-item {
		font-size: 12px;
	}
}

.sec-history__table .table-item dl,
.sec-history__table .table-item dd {
	margin-bottom: 0;
}

.sec-history__table .table-item a {
	border: none;
}

.sec-history__table .table-item--name {
	text-align: left;
}

.sec-history__table .table-item a {
	text-decoration: underline !important;
}

.sec-history__table .table-item a:hover {
	text-decoration: none !important;
}

.sec-history__more {
	margin-top: 35px;
	text-align: center !important;
}

.sec-history__more span {
	position: relative;
}

.sec-history__more span::before {
	position: absolute;
	top: calc(50% - 8px);
	right: -30px;
	width: 10px;
	height: 10px;
	border: 1px solid;
	border-color: #14284a #14284a transparent transparent;
	content: '';
	transform: rotate(135deg);
}

.sec-history__none {
	margin-top: 15px;
	padding: 25px 0 0;
	border-top: 1px solid #000;
}

@media only screen and (max-width: 767px) {
	.sec-history__none {
		border-top: none;
		text-align: center;
	}
}

@media only screen and (max-width: 767px) {
	.page-customers-account .sec-history__table {
		width: 780px;
		margin-top: 12px;
	}
}

@media only screen and (max-width: 480px) {
	.page-customers-account .sec-history__table {
		width: 650px;
	}
}

.page-page-account .sec-history__table .table-hdg--order {
	width: 18%;
}

.page-page-account .sec-history__table .table-hdg--date {
	width: 20%;
}

.page-page-account .sec-history__table .table-hdg--payment {
	width: 28%;
}

.page-page-account .sec-history__table .table-hdg--confirm {
	width: 18%;
}

.page-page-account .sec-history__table .table-hdg--total {
	width: 18%;
}

@media only screen and (max-width: 767px) {
	.page-customers-orders .sec-history__table {
		width: 780px;
		margin-top: 12px;
	}
}

@media only screen and (max-width: 480px) {
	.page-customers-orders .sec-history__table {
		width: 500px;
	}
}

.page-page-account .sec-history__table .table-hdg--name {
	width: 54%;
}

.page-page-account .sec-history__table .table-hdg--price {
	width: 18%;
}

.page-page-account .sec-history__table .table-hdg--num {
	width: 10%;
}

.page-page-account .sec-history__table .table-hdg--sum {
	width: 18%;
}


.page-page-account .sec-history__table.sec-history__table--info .table-hdg {
	padding: 15px 10px;
	width: 30%;
}

.page-page-account .sec-history__table.sec-history__table--info .table-item {
	padding: 15px;
	width: 70%;
	text-align: left;
}

@media only screen and (max-width: 767px) {
	.page-page-account .sec-history__table.sec-history__table--info {
		width: 800px;
	}
}


/*--------------------------------------------------------------------------
   sec-shipping
---------------------------------------------------------------------------*/
/* comment
-----------------------------------------------------------------*/
.sec-shipping {
	padding: 5px 30px 0;
	border-top: 1px solid #000;
}

@media only screen and (max-width: 767px) {
	.sec-shipping {
		padding: 0;
	}
}

.sec-shipping__hdg {
	margin-bottom: 20px;
	font-size: 14px;
}

@media only screen and (max-width: 767px) {
	.sec-shipping__hdg {
		margin-bottom: 12px;
	}
}

.sec-shipping__card {
	margin-bottom: 50px;

	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media only screen and (max-width: 767px) {
	.sec-shipping__card {
		display: block;
		margin-bottom: 48px;
	}
}

.sec-shipping__card::after {
	display: block;
	width: 32%;
	content: '';
}

@media only screen and (max-width: 767px) {
	.sec-shipping__card::after {
		content: none;
	}
}

.sec-shipping__card .card-item {
	width: 32%;
	margin-top: 30px;
}

@media only screen and (max-width: 767px) {
	.sec-shipping__card .card-item {
		width: 100%;
	}
}

.sec-shipping__card .card-item__box {
	position: relative;
	padding: 20px 15px 0;
	border: 1px solid #14284a;
}

.sec-shipping__card .card-item__box p {
	margin-bottom: 70px;
}

@media only screen and (max-width: 767px) {
	.sec-shipping__card .card-item__box p {
		margin-bottom: 55px;
	}
}

.sec-shipping__card .card-item__hdg {
	margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
	.sec-shipping__card .card-item__hdg {
		margin-bottom: 15px;
	}
}

.sec-shipping__card .card-item__btn {
	position: absolute;
	bottom: -50px;
	left: 15px;
}

.sec-shipping__card .card-item__btn .btn {
	font-size: 12px;
}

@media only screen and (max-width: 767px) {
	.sec-shipping__card .card-item__btn .btn {
		font-size: 11px;
	}
}

.sec-shipping__card .card-item__btn .btn--edit button,
.sec-shipping__card .card-item__btn .btn--delete button {
	border: 1px solid #000;
}
.sec-shipping__card .card-item__btn .btn--delete {
	margin-left: 18px;
}
.sec-shipping__card .card-item__btn button:hover {
	opacity: .6;
}


.sec-shipping__btns {
	padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
	.sec-shipping__btns {
		width: 280px;
		margin: 0 auto;
		padding-bottom: 10px;
	}
}

.sec-shipping__add,
.sec-shipping__back {
	margin-bottom: 10px;
	font-size: 12px;
}

@media only screen and (max-width: 767px) {
	.sec-shipping__add,
	.sec-shipping__back {
		margin-bottom: 20px;
		font-size: 14px;
	}
}

@media only screen and (max-width: 767px) {
	.sec-shipping__add a,
	.sec-shipping__add button,
	.sec-shipping__back a,
	.sec-shipping__back button {
		display: inline-block;
		padding: 15px 45px;
		border-radius: 25px;
		background-color: #f5f5f3;
		line-height: 1;

		&::after {
			content: none !important;
		}
	}
}

.sec-shipping__add a:hover,
.sec-shipping__add button:hover,
.sec-shipping__back a:hover,
.sec-shipping__back button:hover {
	opacity: .8;
}

.sec-shipping__add a span,
.sec-shipping__add button span,
.sec-shipping__back a span,
.sec-shipping__back button span {
	margin-right: 8px;
}

.sec-shipping__add a span img,
.sec-shipping__add button span img,
.sec-shipping__back a span img,
.sec-shipping__back button span img {
	vertical-align: middle;
}

.sec-shipping__back {
	margin-top: 20px;
}
@media only screen and (max-width: 767px) {
	.sec-shipping__back {
		margin-top: 10px;
	}
}

.sec-shipping__back--top {
	text-align: right !important;
	margin: 0 0 10px;
}
@media only screen and (max-width: 767px) {
	.sec-shipping__back--top {
		margin: 0  0 20px;
	}
}

#AddressNewForm,
.sec-account__edit {
	padding: 45px 0;
}

@media only screen and (max-width: 767px) {
	#AddressNewForm,
	.sec-account__edit {
		padding: 30px 0;
	}
}

.sec-shipping__back + .sec-account {
	margin-top: 50px;
}

.sec-shipping__back + .sec-shipping {
	margin-top: 20px;
}
