<main class="mt-3" id="page-register">
  <div class="container-fluid px-0 mt-5 page-content bg-white">
      <div class="row no-gutters">
          <div class="col">
              <div class="container">
                <div class="row mb-5">
                    <div class="col">
                        <p class="mb-3">
                            こちらのご利用は「カネカ太陽光発電システム」をすでに設置されているお客様のみとさせていただきます。
                        </p>
                        <p class="mb-5">
                            本利用規約にご同意いただき、必要な個人情報を入力いただきますと、登録いただいたメールアドレスに、ご利用に必要な情報を送付いたします。<br>ご同意いただけない場合はご利用できません。
                        </p>
                        <p class="mb-5">
                            <a href="https://www.kaneka-solar-marketing.jp/privacy/" target="_blank">[個人情報保護方針]</a> <a href="/policies/terms-of-service" target="_blank">[サイトご利用規約]</a>に同意されたものとみなされます。<br>当社の承諾なしに製品文書の一部または全部を転用、二次利用など開示することはご遠慮下さい。
                        </p>
                        <p class="mb-5">
                            当社は個人情報を適切に管理するものとし、正当な理由なく本ページで明示する目的以外に利用しないものとします。<br>
                            個人情報への不当アクセスまたは個人情報の紛失、破壊、改ざん、漏洩などの危険に対抗するために必要かつ適切な安全対策を継続的に講じるよう最大限の注意・努力を払います。
                        </p>

                    </div>
                </div>
                <div class="row justify-content-center mb-5">
                    <div class="col text-center">
                        <input type="checkbox" name="usercheck" id="usercheck">&nbsp;<label for="usercheck">同意してユーザー登録をする</label>
                    </div>
                </div>
                <div class="row justify-content-center">
					<div class="col col-md-8">
						<a id="user_register_link" class="btn btn-block btn-blue py-4 is-disabled" href="https://krs.bz/kaneka-web/m?f=203" target="_blank"><span class="large" style="font-size:1.25rem;">ユーザー登録はこちら</span></a>
					</div>
				</div>
            </div>
          </div>
      </div>
  </div>
</main>