<main class="mt-3" id="page-register_complete">
  <div class="container-fluid px-0 mt-5 page-content bg-white">
      <div class="row no-gutters">
          <div class="col">
              <div class="container">
                <div class="row mb-5 justify-content-center">
                    <div class="col col-md-8">
                        <p class="mb-3">この度はカネカソーラー販売のサポートサービスへ<br>ご登録いただき、誠にありがとうございます。</p>
                        <p class="mb-3">本登録が完了しましたので、お知らせいたします。</p>
                        <p class="mb-3">当サポートサービスでは、当社の太陽光発電システムを<br>ご利用されているお客様の保証情報を確認いただけます。</p>
                        <p>ご確認の際はマイページへお進みください。</p>
                    </div>
                </div>
                <div class="row justify-content-center">
					<div class="col col-md-8">
						<a class="btn btn-block btn-blue py-4" href="https://cs.kaneka-solar-marketing.jp"><span class="large" style="font-size:1.25rem;">お客様サポートTOP</span></a>
					</div>
				</div>
            </div>
          </div>
      </div>
  </div>
</main>