<main class="mt-3">
    <div class="container-fluid px-0 page-content bg-white">
        <div class="row no-gutters">
            <div class="col">
                <div class="container">
                    <div class="row justify-content-center mb-5">
                        <div class="col-md-10">
                            <p>本WEBサイトから<strong>「パワーコンディショナ交換セット」</strong>や<strong>「オプション商品」</strong>を購入された場合、当社保証規程に則りお買い上げいただいた製品の品質を保証します。<br>製品の不具合、故障による修理または交換を依頼される場合は下記の<a href="#warranty_contact">「保証に関するお問い合わせ先」</a>までお問合せください。</p>
                            <p>※保証期間につきましては、<a href="/pages/faq">こちら</a>よりご確認ください。</p>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col">
                            <h2 class="text-center">保証規程</h2>
                            <h3>1. 保証内容及び保証期間</h3>
                            <ol class="mb-5">
                                <li>機器の引渡し日より、規格に適合しない不具合、故障が発見された場合は、当該システム構成機器（以下製品という）の修理または同等品との交換を行います。（但し、計測ユニット、表示ユニットは１年間）</li>
                                <li>無償での修理、交換、追加または補償は、当社規定の方法での検査の結果、規格に適合しないことが判明した場合に限ります。</li>
                                <li>当社規定の検査を行った結果、規格に適合していることが判明した場合は製品を返却し、これに要した費用はお客様に負担していただきます。</li>
                            </ol>
                            <h3>2. 免責事項</h3>
                            <p>次の事項に該当する場合は保証の対象外とします。</p>
                            <ol class="mb-5">
                                <li>取扱説明書、本体注意ラベル等に記載の取扱方法、注意事項等が遵守されなかった場合。</li>
                                <li>通常と異なる用途に使用された場合。</li>
                                <li>当社が承認しない材料、部品、機器の使用、設置、増設、変更、または当社が承認しない補修に起因する場合。</li>
                                <li>戦争、暴動、地震、噴火、津波、洪水、積雪（高さ1.5m を超える積雪、ただし雪止仕様は高さ1.0ｍを超える積雪。積雪の詳細は施工マニュアルに定める。）、落雪、凍結、降雹、地盤変動、地割れ、土砂崩れ、公害、火事、爆発、投石、物の落下、振動、衝撃、落雷、誘導雷、風災等の外来の事故あるいは不可抗力による故障及び損傷。</li>
                                <li>大気中の腐食性物質による故障及び損傷。</li>

                                <li>動物や昆虫、または植物による故障及び損傷。</li>
                                <li>製品設置後の設置場所または周辺環境の変化（近隣への建築物設置や樹木の成長等）によるもの。</li>
                                <li>系統連系している商用電源のノイズ、電圧変動等による故障及び損傷。</li>
                                <li>お客様または第三者の故意もしくは過失による場合。</li>
                                <li>製品の受け渡し後に発生した外観の傷、汚れ、機械的摩耗、さび、かび、変質、変色等で、製品の発電性能または機械的強度等に影響を与えないもの。</li>

                                <li>製品のお客様への販売時に実用化されていた技術では予防が不可能であった現象、またはこれが原因で生じた故障及び損傷。</li>
                                <li>修理ご依頼が品質保証期間後であるもの、または故障の発生後すみやかに修理のご依頼がなかったもの。</li>
                                <li>製品の損傷に対し、損害保険金または損害賠償金を受け取られた場合。</li>
                                <li>パワーコンディショナの電解コンデンサ等の消耗部品。</li>
                                <li>その他当社の責に帰すべき事由によらないもの。</li>
                            </ol>
                            <h3>3. 次の場合の費用は、保証期間内でもお客様のご負担となります。</h3>
                            <ol class="mb-5">
                                <li>製品の故障に起因、または関連して発生したお客様の損失（電気料金等）。</li>
                                <li>当社、または当社指定の施工店以外で修理された場合の修理費用。</li>
                            </ol>
                            <h3>4. その他</h3>
                            <ol class="mb-5">
                                <li>この保証は日本国内においてのみ有効です。</li>
                                <li>出張修理は部品代、技術料以外の一部の費用（交通費等）をご負担いただく場合が有ります。</li>
                                <li>機器が特殊な設置環境（高所、屋根裏、交換作業にスペースがない等）にある場合、一部の費用をご負担いただく場合があります。</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row mb-5" id="warranty_contact">
                        <div class="col">
                            <h2 class="text-center">保証に関するお問合せ先</h2>
                            <div class="row justify-content-center mb-4">
                                <div class="col-md-8">
                                    <p><strong><big>カネカソーラー販売株式会社</big>（カネカ太陽光発電システム 住宅向け総販売元）</strong></p>
                                    <div class="bg-light p-3">
                                        〒530-0005 大阪市北区中之島2-3-18 中之島フェスティバルタワー<br>TEL. <a href="tel:06-6226-5016">06-6226-5016</a><br>FAX. 06-6226-5372
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>