<main class="mt-3" id="page-houjin_register_complete">
  <div class="container-fluid px-0 mt-5 page-content bg-white">
      <div class="row no-gutters">
          <div class="col">
              <div class="container">
                <div class="row mb-5 justify-content-center">
                    <div class="col col-md-8">
                        <p class="mb-3">法人会員登録ありがとうございます。</p>
                        <p>登録内容を確認後、担当窓口よりアカウントの発行（メールアドレス・パスワード）をいたしますので、しばらくお待ちください。</p>
                    </div>
                </div>
                <div class="row justify-content-center">
					<div class="col col-md-8">
						<a class="btn btn-block btn-blue py-4" href="/pages/houjin"><span class="large" style="font-size:1.25rem;">法人のお客様TOP</span></a>
					</div>
				</div>
            </div>
          </div>
      </div>
  </div>
</main>