<main class="mt-3" id="page-houjin_register">
  <div class="container-fluid px-0 mt-5 page-content bg-white">
      <div class="row no-gutters">
          <div class="col">
              <div class="container">
                <div class="row mb-5">
                    <div class="col">
                        <p class="mb-3">
                            ご利用は既に当社とお取引のある法人のお客様とさせていただきます。<br>今後お取引をご希望される方は、まずお客様専用ダイヤルまでお問合せいただきますよう宜しくお願いいたします。
                        </p>
                        <p class="mb-5">
                            本利用規約にご同意いただき、必要な個人情報を入力いただきますと、登録いただいたメールアドレスに、ご利用に必要な情報を送付いたします。ご同意いただけない場合はご利用できません。
                        </p>
                        <p class="mb-5">
                            <a href="https://www.kaneka-solar-marketing.jp/privacy/" target="_blank">[個人情報保護方針]</a> <a href="/policies/terms-of-service" target="_blank">[サイトご利用規約]</a>に同意されたものとみなされます。<br>当社の承諾なしに製品文書の一部または全部を転用、二次利用など開示することはご遠慮下さい。
                        </p>
                        <p class="mb-5">
                            当社は個人情報を適切に管理するものとし、正当な理由なく本ページで明示する目的以外に利用しないものとします。個人情報への不当アクセスまたは個人情報の紛失、破壊、改ざん、漏洩などの危険に対抗するために必要かつ適切な安全対策を継続的に講じるよう最大限の注意・努力を払います。
                        </p>
                        <p class="mb-3">
                            当社は法人のお客様のユーザー登録時に提供を受けた個人情報を次の各号を目的として利用致します。
                        </p>
                        <ul>
                            <li>当社が開催する研修会へ参加となった方へ連絡をするため</li>
                            <li>当社が開催する研修会へ参加となった方の情報を管理するため</li>
                            <li>当社製品やサービスに関するご案内のため</li>
                            <li>当社サイトを通じた製品ご購入についてのご案内、発送・ご請求・お問い合わせ対応のため</li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center mb-5">
                    <div class="col text-center">
                        <input type="checkbox" name="houjincheck" id="houjincheck">&nbsp;<label for="houjincheck">同意して法人会員の登録をする</label>
                    </div>
                </div>
                <div class="row justify-content-center">
					<div class="col col-md-8">
						<a id="houjin_register_link" class="btn btn-block btn-blue py-4 is-disabled" href="https://krs.bz/kaneka-web/m?f=204" target="_blank"><span class="large" style="font-size:1.25rem;">法人のお客様の<br class="d-sm-none">ユーザー登録はこちら</span></a>
					</div>
				</div>
            </div>
          </div>
      </div>
  </div>
</main>