<main class="mt-3">
    {{ 'houjin_manual.css' | asset_url | stylesheet_tag }}
    <style>
    .page-content h4.card-header {
        color: #333;
        font-size: 1.0rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .page-content .cnav {
        gap: 15px;
    }
    .page-content .cnav .col-md-auto {
        width: calc(20% - 12px);
        padding: 0;
    }
    .page-content .cnav .btn-outline-blue {
        font-size: 14px;
    }

    .container-fluid .manual_caps {
        margin: -0.5em 0 1.5em;
    }

    @media (max-width: 1200px) {
        .page-content .cnav .col-md-auto {
            width: calc(33% - 12px);
            padding: 0;
        }
    }

    @media (max-width: 1000px) {

    }

    @media (max-width: 768px) {
        .page-content .cnav .col-md-auto {
            width: 100%;
            margin: 0 !important;
        }
    }
    </style>
    <div id="main_top">

        {% comment %}
            本番はこちら
            {% if customer and customer.metafields.custom.membership_rank == '法人会員' %}
        {% endcomment %}

        {% comment %}
            ログインかつ法人会員のみ表示されるブロック
        {% endcomment %}
        <!-- ▼会員ランク表示 -->
        <div class="container-fluid px-0 page-content bg-white">
                <div class="row no-gutters">
                    <div class="col">
                        <div class="container">
                            <div class="row mb-5">
                                <div class="col text-md-center">
                                    当ページは法人ユーザーの方のみ閲覧可能です。<br>法人ユーザーの方は<a href="/account/login">ログインページ</a>からログインするか、<a href="/account/register?houjin=1">ユーザー登録</a>を行ってください。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <script>
            var d = new Date();
            var uncachedLink = document.querySelectorAll('.uncached-link');
            for (var i = 0; i < uncachedLink.length; i++) {
                var hrefValue = uncachedLink.item(i).href;
                uncachedLink.item(i).href = hrefValue + '?' + d.getMilliseconds();
            }
        </script>
        <!-- ▲会員ランク表示 -->
        {% comment %}
            本番はこちら
            {% else %}
        {% endcomment %}
        {% comment %}
            未ログインか法人会員で無い場合に表示
        {% endcomment %}
        <div class="container-fluid px-0 page-content bg-white">
            <div class="row no-gutters">
                <div class="col">
                    <div class="container">
                        <div class="row mb-5">
                            <div class="col text-md-center">
                                当ページは法人ユーザーの方のみ閲覧可能です。<br>法人ユーザーの方は<a href="/account/login">ログインページ</a>からログインするか、<a href="/pages/houjin_register">ユーザー登録</a>を行ってください。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %}
            本番はこちら
           {% endif %}
        {% endcomment %}
    </div>
</main>